<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <div class = "header">
        <h1>
            Bob mate
        </h1>
    </div>

    <div class="card" >
        <div class="card-body">
            
          <p class="card-title">포스트 제목</p>
          <p class="card-text comment">참여 인원 제한</p>
          <p class="card-likes">내용</p>
        
          <div class="card-button">
              
              <button type="button" class="btn btn-size button1 card-button-in edit-button" onclick="editMemo('${id}')">참여</button>
              <button type="button" class="btn btn-size button2 card-button-in delete-button" onclick="deleteMemo('${id}')">나가기</button>
            
              <button type="button" class="btn btn-size button4 card-button-in save-button" onclick="updateMemo('${id}')" style="display: none;" >저장</button>
          </div>

        </div>

    </div>
    

</body>


</html>